<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div>
        {{ range . }}
        <div>
            <a href="/post/{{ .ID }}"><pre>{{ .ID }}</pre></a>
            <pre>{{ .Author }}</pre>
            <pre>{{ .Title }}</pre>
            <pre>{{ .Content }}</pre>
            <pre>{{ .Categories }}</pre>
            <pre>likes: {{ .Votes }}</pre>
            <pre>status: {{ .Status }}</pre>
        </div>
        <br>
        {{ end }}
    </div>
</body>
</html>