<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/static/css/lorem.css">
    <title>Document</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->
</head>

<body>

    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
    
<div class="col-md-6 gedf-main">
    {{ range $post := .Posts }}
    <div class="card gedf-card">

        <div class="card-header">
            <div class="d-flex justify-content-between align-items-center">
                <div class="d-flex justify-content-between align-items-center">
                    <!-- <div class="mr-2">
                        <img class="rounded-circle" src="https://picsum.photos/50/50" alt="" width="45">
                    </div> -->
                    <div class="ml-2">
                        <div class="h5 m-0"><a class="card-link" href="/profile/{{ $post.AuthorID }}/posts">{{ $post.Author }}</a></div>
                        <div class="h7 text-muted">Miracles Lee Cross</div>
                    </div>
                </div>
                <div>
                    <div class="dropdown">
                        <button class="btn btn-link dropdown-toggle" type="button" id="gedf-drop1"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-ellipsis-h"></i>
                        </button>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="gedf-drop1">
                            <div class="h6 dropdown-header">Configuration</div>
                            <a class="dropdown-item" href="#">Edit</a>
                            <a class="dropdown-item" href="#">Delete</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="card-body">
            <div class="text-muted h7 mb-2"> <i class="fa fa-clock-o"></i> {{ $post.Created }}</div>
            <a class="card-link" href="#">
                <h5 class="card-title">{{ $post.Title }}</h5>
            </a>

            <p class="card-text">{{ $post.Content }}</p>
            
            <div>
                {{ range $cat := $post.Categories }}
                <a class="card-link" href="/category/{{ $cat.ID }}"><span class="badge badge-primary">{{ $cat.Name }}</span></a>
                {{ end }}
            </div>
        </div>
        <div class="card-footer">
            <form id="votepost{{ $post.ID }}" action="/vote/{{ $post.ID }}" method="post"></form>
            {{ if (eq $post.Rate 1) }}
            <a href="#" onclick="voteFunction('votepost{{ $post.ID }}', 1)"><i class="fa fa-chevron-circle-up"></i></a>
            {{ else }}
            <a href="#" onclick="voteFunction('votepost{{ $post.ID }}', 1)"><i class="fa fa-chevron-up"></i></a>
            {{ end }}
            {{ $post.Votes }}
            {{ if (eq $post.Rate -1) }}
            <a href="#" class="card-link" onclick="voteFunction('votepost{{ $post.ID }}', -1)"><i class="fa fa-chevron-circle-down"></i></a>
            {{ else }}
            <a href="#" class="card-link" onclick="voteFunction('votepost{{ $post.ID }}', -1)"><i class="fa fa-chevron-down"></i></a>
            {{ end }}
            <a href="/post/{{ $post.ID }}" class="card-link"><i class="fa fa-comment"></i> Comment</a>
        </div>
    </div>
    {{ end }}
</div>

    <script>
        function voteFunction(formID, rateval) {
            var postform = document.getElementById(formID);
            var input = document.createElement('input');
            input.setAttribute('name', 'rate');
            input.setAttribute('value', rateval);
            input.setAttribute('type', 'hidden');
            postform.appendChild(input);
            postform.submit();
        }
    </script>

</body>

</html>