<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>post</title>
</head>
<body>
    <div>
        <div>
            <pre>{{ .ID }}</pre>
            <pre>{{ .AuthorID }}</pre>
            <pre>{{ .Title }}</pre>
            <pre>{{ .Content }}</pre>
            <pre>{{ .Votes }}</pre>
            <pre>{{ .Rate }}</pre>
        </div>
        <br>

        <div>
            <form action="/vote/{{ .ID }}" method="post">
                <button type="submit" name="rate" value="1"></button>
                <button type="submit" name="rate" value="-1"></button>
            </form>
        </div>

        <div>
            <form action="/post/{{ .ID }}/comment" method="post">
                <input type="text" name="comment" required>
                <button type="submit">comment</button>
            </form>
        </div>

        {{ range .Comments }}
        <div>
            <pre>{{ .ID }}</pre>
            <pre>{{ .PostID }}</pre>
            <pre>{{ .Author }}</pre>
            <pre>{{ .Content }}</pre>
        </div>
        <br>
        {{ end }}
    </div>
</body>
</html>