<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/static/css/sign-in.css">
    <title>Sign In</title>
</head>
<body>
    <form action="/signin" method="POST" class="form">

        <h1 class="form__title">Sign In</h1>

        <div class="form__group">
            <input class="form__input" name="login" placeholder=" ">
            <label class="form__label">Email/Username</label>
        </div>

        <div class="form__group">
            <input class="form__input" name="password" placeholder=" ">
            <label class="form__label">Password</label>
        </div>

        <button class="form__button">Sign In</button>

    </form>
</body>
</html>